

.container-resa-profil {
  display: flex;
  justify-content: space-between;
  // margin: 10% auto;
  padding: 10% 10%;
  align-items: flex-start;
}

// COLONNE DE DROITE SUR LES BATEAUX

.container-resa {
  padding-top: 0px;
}
.card-boat-dashboard {
  border-radius: 10px 0px 0px 10px;
  box-shadow: 1px 0 10px 0px rgba(211, 211, 211, 0.253);
  border: 1px thin black;
  text-align: left;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 10px;
  p {
    color: black;
    text-shadow: none;
  }
  i {
    margin-right: 10px;
  }
   a {
    font-weight: bold;
   }
}
  // box-shadow: 0 0 0 5px lightgray;



.link-bold {
  i {
    color: rgb(69, 114, 135);
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: rgb(69, 114, 135);
    }
  }
}

.fa-validated {
  a {
    color: rgb(69, 114, 135);
    text-decoration: none;
  }
  i {
    color: rgb(69, 114, 135);
  }
  &:hover{
    i {
      color: greenyellow;
    }
    a {
      color: black;
      font-weight: 600;
    }
  }
}

.fa-denied {
  a {
    color: rgb(69, 114, 135);
    text-decoration: none;
  }
  i {
    color: rgb(69, 114, 135);
  }
  &:hover{
    i {
      color: rgb(136, 84, 84);
    }
    a {
      color: black;
      font-weight: 600;
    }
  }
}


.boat-status-cart {
  background-color: #F4F4F4;
  padding: 10px;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 15px 0px;

  a {
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100%;
  }
}

.reservations {
  height: 100%;
  padding: 15px 65px 15px 30px;
}

// COLONNE DE GAUCHE SUR LE USER

// h1 {
//   font-size: 20px;
// }

.left-profil {
  position:sticky;
  top: 100px;
}

.container-profil {
  background-color: white;
  border-radius: 10px;
  margin: 0px 50px 50px 0px;
  text-align: center;
  padding: 20px 15px;
  width: 300px;

  // width: 60%;
  // overflow: hidden;
  // height: initial;
}

.avatar-user-dashboard {
  border-radius: 50%;
  object-fit: cover;
  margin: 10% auto;
  width: 200px;
  height: 200px;
}

.container-resa-left {
  background-color: white;
  border-radius: 10px;
  margin: 0px 50px 50px 0px;
  text-align: center;
  padding: 20px 15px;
  width: 300px;
}


.fa-star {
  color:  rgb(69, 114, 135);
  cursor: pointer;
  text-align: center;
}

.review i {
  font-size: 32px;
}

.container-reservation {
  // width: 100%;
  background-color: white;
  border-radius: 50px;
}
.reservation-info {
  p {
    color: black;
    text-shadow: none;
  }
  .id-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .validated {
    color: greenyellow;
    margin-right: 10px;
  }
  .pending {
    color: rgb(219, 189, 132);
    margin-right: 10px;
  }
  .denied {
    color: rgb(136, 84, 84);
    margin-right: 10px;
  }
}

.info {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 8px;
}


.reservation-info {
  margin-bottom: 15px;
  margin-top: 20px;
  text-align: left

}





.container-resa {
  width: 100%;
}

