// Specific CSS for your home-page
.btn-white{
  margin: 15px 0px;
}


.banner h1, p {
  color : white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  
}

.banner p {
  font-size: 2rem;
  font-weight: lighter;
}

.banner {
  height: 100vh;
  display:flex;
  align-items: center;
  background-size: cover;
}