// Specific CSS for your home-page
.btn-flat {
  color: rgba(78, 129, 151, 0.8);
  padding: 8px 24px;
  border-radius: 4px;
  background: beige;  transition: background 0.3s ease;
  margin: 15px 0px;
  font-weight: bold;
}

.btn-flat:hover {
  background: beige;
  color: #4e8197;
  font-weight: bold;
}

.banner h1, p {
  color : beige;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  
}

.banner p {
  font-size: 2rem;
  font-weight: lighter;
}

.banner {
  height: 100vh;
  display:flex;
  align-items: center;
}