
.reservation-box {
  width: 100%;
  background-color: white;
  border-radius: 50px;
  // box-shadow: 0 0 15px rgb(143, 143, 143);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.reservation-box h1 {
  text-align: center;
}
