.container {
  justify-content: center;
}


.reservation-box {
  width: 500px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 15px lightgray;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 100px;
}

.reservation-box h1 {
  text-align: center;
}
